#about.innerBlock
  h2 100% HANDMADE.

  #movieCtn
    iframe(src="//player.vimeo.com/video/35819141",
           width="500",
           height="375",
           frameborder="0",
           webkitallowfullscreen,
           mozallowfullscreen,
           allowfullscreen)

  p.just Tiny TOE Press (est. 2011) is a publisher of poetry, novellas, & novels. We publish 1 to 2 books per year. We're highly selective about what we publish because our perfect bound paperbacks are 100% handmade.

  p.just It started with a wooden jig sketched & built in a shed (seen in the embedded video). This jig allowed us to press one book at a time. To meet growing demand, we designed & built a new jig that presses multiple books simultaneously. Other than copying the interior pages, the production of our perfect bound paperbacks uses NO ELECTRICITY.

  p.just Everything happens on a self-healing cutting mat, where we use a utility knife (with segmented blade) & a metal ruler. We score spines into our covers with precision. We use our custom-designed jig to clamp squared books into place & apply archival quality glue (mixed with a special ingredient) then let the spines ossify. We use the same utility knife to shave the edges into clean right angles. We use stamps to give identities to our books. We use our custom-designed toe stamp to brand the back cover.

  p.just This process takes time, much more time than an offset printer. This process is all too human: each book is its own body with discrete birthmarks. This process keeps us happy. We hope our books will keep you happy.

  p.just While the business of publishing is often scaled to make economic sense, Tiny TOE Press specializes in small/limited runs that don’t make economic sense & don’t satisfy feasibility models. Our books exist because the world is irrational.

  p.just Booksellers that would like to buy books from us may email <a href="mailto:toe@tinytoepress.com">toe@tinytoepress.com</a> for a 50% discount. Journalists interested in reviewing our books, interviewing Tiny TOE Press authors, or spreading the word about Tiny TOE Press are also encouraged to email said address. While questions & comments to said email address are always encouraged, Tiny TOE Press currently takes submissions by solicitation only. Thank you for your time.