#Austin_Nights.innerBlock
  .titleName Austin Nights
  .coverAndBlurb
    .coverImage
      img(src='/img/covers/austin_nights_cover_200.jpg', width='200')
    .bookBlurb
      b KEEP AUSTIN WEIRD
      p.just Bridget had a fierce desire for survival which made her a fighter.
        | Michael had a hankering after immortality which made him a useless dreamer.
        | And that was the great difference between these two Austin transplants who loved each other so well.
      .bookButtons
        | $14.95 &nbsp;
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=PVKJVJMQ2T7Q6', target='_blank')
          img.paypal(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')
        .bookLink
          a(href="/read/Austin_Nights")
            img(src="/img/read.png", width='50')