#connect.innerBlock

  h2 We're pro-social

  p We blog at
    span.theOpenEnd
      a.stealth(href='http://theopenend.com', target='toe')
        span.the the
        span.open open
        span.end end
    
    p
      img(src='/img/logos/etsy-heart-logo.png', height='25')
      | We call our handmade notebooks 
      a(href=' https://www.etsy.com/shop/SlimNote', target='etsy') SlimNote

    p We tweet as 
      a(href='https://twitter.com/TinyTOEPress', target='twitter') @TinyToePress

    p We sometimes 
      a(href='http://facebook.com/tinytoepress') Facebook

    p We get intimate on 
      a(href='http://instagram.com/tinytoepress') Instagram