#Heart_of_Scorpio.innerBlock
  .titleName Heart of Scorpio
  .coverAndBlurb
    .coverImage
      img(src='/img/covers/heart_of_scorpio_front_200.jpg', width='200')
    .bookBlurb
      p.just Originally published in Spanish as El corazón del escorpión, this winner of the IX annual National Novel Award from the Medellín Chamber of Commerce raises the bar for boxing literature. In bursts of fiction and nonfiction, Heart of Scorpio tells the tragic story of ex-champion boxer, Antonio Cervantes (“Kid Pambelé”), using four distinct voices that represent the personal, family, social, and public aspects of this athlete’s life.
      .bookButtons
        | $14.95 &nbsp;
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=T8VKTK49HKLYL', target='_blank')
          img.paypal(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')