#titleNav.subnav
  #titleNavItems
    #Austin_NightsNav.titleNavItem('target'='Austin_Nights')
      .bookIconCtn
        img.bookIcon(src='/img/texas_moon_100_trans.png', width='60', height='60')
      
    #The_Mosquito_SongNav.titleNavItem(target='The_Mosquito_Song')
      .bookIconCtn
        img.bookIcon(src='/img/mosquito_100_trans.png', width='48', height='60')

    #Miss_Gone_OverseasNav.titleNavItem('target'='Miss_Gone_Overseas')
      .bookIconCtn
        img.bookIcon(src='/img/hair_100_trans.png', width='49', height='59')              
      
    #Heart_of_ScorpioNav.titleNavItem(target='Heart_of_Scorpio')
      .bookIconCtn
        img.bookIcon(src='/img/scorpio_100_trans.png', width='40', height='60')

    #The_Persistence_of_CrowsNav.titleNavItem(target='The_Persistence_of_Crows')
      .bookIconCtn
        img.bookIcon(src='/img/crows_trans.png', width='60', height='59')

    #Rarity_of_the_CenturyNav.titleNavItem(target='Rarity_of_the_Century')
      .bookIconCtnLast
        img.bookIcon(src='/img/rarity_100_trans.png', width='60', height='57')