#Miss_Gone_Overseas.innerBlock
  .titleName Miss Gone-Overseas
  .coverAndBlurb
    .coverImage
      img(src='/img/covers/miss_gone-overseas_front_200.jpg', width='200')
    .bookBlurb
      p.just In the sparse, lyrical style of a classic pillow book, Miss Gone-overseas chronicles a wartime life that doesn’t focus on guns, bombs or military depredations, but on the pedestrian life of a lower-class Japanese woman as she reflects on the turmoil around her. Set on a lush tropical island during the later part of World War II, the book begins and ends with separations that are also beginnings.
      .bookButtons
        | $14.95 &nbsp;
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=C9YAYA2ZM863J', target='_blank')
          img.paypal(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')