#Rarity_of_the_Century.innerBlock
  .titleName Rarity of the Century
  .coverAndBlurb
    .coverImage
      img(src='/img/covers/rarity_cover_200.jpg', width='200')
    .bookBlurb
      p.just Rarity of the Century is a modern apocalyptic thriller told through different perspectives that begins as a coming-of-age story about a lonely young man looking for love but eventually turns into a more complex narrative about solitude and the never ending search for connection.
      .bookButtons
        | $14.95 &nbsp;
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=K3XJ6SY8DAEK6', target='_blank')
          img.paypal(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')
          br
          
