#store.innerBlock
  h2 100% HANDMADE. $14.95 EACH.
  
  div.storeBook
    img.storeCover(src='/img/covers/austin_nights_cover_150.jpg', width='150', target='Austin_Nights')
    span.storeTitle(target='Austin_Nights') Austin Nights
    a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=PVKJVJMQ2T7Q6', target='_blank')
      img(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')

  div.storeBook
    img.storeCover(src='/img/covers/mosquito_song_front_150.jpg', width='150', target='The_Mosquito_Song')
    span.storeTitle(target='The_Mosquito_Song') The Mosquito Song
    a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RCSNE5EYAGHZQ', target='_blank')
      img(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')

  div.storeBook
    img.storeCover(src='/img/covers/miss_gone-overseas_front_150.jpg', width='150', target='Miss_Gone_Overseas')
    span.storeTitle(target='Miss_Gone_Overseas') Miss Gone-overseas
    a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=C9YAYA2ZM863J', target='_blank')
      img(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')

  div.storeBook
    img.storeCover(src='/img/covers/heart_of_scorpio_front_150.jpg', width='150', target='Heart_of_Scorpio')
    span.storeTitle(target='Heart_of_Scorpio') Heart of Scorpio
    a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=T8VKTK49HKLYL', target='_blank')
      img(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')

  div.storeBook
    img.storeCover(src='/img/covers/crows_cover_150.jpg', width='150')
    span.storeTitle(target='The_Persistence_of_Crows') The Persistence of Crows
    a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=JLZPRYSSQ8Z6E', target='_blank')
      img(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')

  div.storeBook
    img.storeCover(src='/img/covers/rarity_cover_150.jpg', width='150')
    span.storeTitle(target='Rarity_of_the_Century') Rarity of the Century
    a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=K3XJ6SY8DAEK6', target='_blank')
      img(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')   

