#The_Mosquito_Song.innerBlock
  .titleName Mosquito Song
  .coverAndBlurb
    .coverImage
      img(src='/img/covers/mosquito_song_front_200.jpg', width='200')
    .bookBlurb
      p.just Hunted by amateur assassins, confounded by a mysterious notebook, and vexed by modern technology, a derelict vampire travels west to Chicago for answers. And maybe a little blood. (Also includes author intro and bonus short story)
      .bookButtons
        | $14.95 &nbsp;
        a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RCSNE5EYAGHZQ', target='_blank')
          img.paypal(alt='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif')
        .bookLink
          a(href='/read/The_Mosquito_Song')
            img(src="/img/read.png", width='50')