#The_Persistence_of_Crows.innerBlock
  .titleName The Persistence of Crows
  .coverAndBlurb
    .coverImage
      img(src='/img/covers/crows_cover_200.jpg', width='200')
    .bookBlurb
      p.just The Persistence of Crows is a contemporary meditation on the coming-of-age themes of such novels as Less than Zero, or The Catcher in the Rye. More poignantly, it details the late teenage and early adulthood realizations of a young man named Henry Alfi. Henry, recently having quit drugs and alcohol, has become sickened and disenchanted by those institutions surrounding him: college, AA, relationships that go nowhere; and through a trip with his college newspaper away from his native Midwest he's able to realize a higher purpose within himself, that of becoming a writer, and pursuing what he believes in.
      .bookButtons
        | OUT OF STOCK
