bg-color = #ffffff
page-color = #fcfcfc

html, body
  margin 0
  padding 0
  height 100%

body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  font-size .8em

p
  text-indent 50px
  margin 0
  line-height 165%

p.noindent
  text-indent 0

h3.chapter
  font-weight bold
  font-size 1em
  line-height 165%
  padding-top .8em
  padding-bottom .8em
  margin 0

h4.chapter
  font-weight bold
  font-size 1em
  line-height 165%
  padding-top .8em
  padding-bottom .8em
  margin 0
  text-align center

#container
  min-height 100%
  background white
  text-align center
  min-width 550px
  width 550px
  position relative
  margin 0 auto

#page
  max-width 512px
  margin 0 auto 20px
  height 100%
  min-height 100%
  background white

#pageHtml
  margin 0
  max-width 512px
  min-height 600px
  height 600px
  text-align left
  position relative
  padding 10px

img#titleImage
  display block
  margin-left auto
  margin-right auto

#sizer
  margin 0
  max-width 512px
  text-align left
  position relative
  padding 10px

#pageHead
  margin 0
  padding-top 25px
  padding-bottom 15px
  position relative
  background white
  cursor pointer

#pageNumber
  margin 0
  padding-top 25px
  padding-bottom 15px
  position relative
  background white

a.nav
  position fixed
  height 100%
  width 50%
  top 0
  font-size 3em
  color black
  text-decoration none
  display block
  padding 0 1em
  cursor pointer

a.nav.prev
  text-align left
  left 0

a.nav.next
  text-align right
  right 0

a.nav:hover
  background #efefef

a.page:hover
  color #6cc
  background #efefef

a.nav span.space
  display block
  height 300px

a.disabled
  display none

div#watermark
  position fixed
  bottom 0px
  right 0px
  opacity 0.5
  padding 0
  margin 0
  cursor pointer

img#watermarkImage
  position fixed
  padding 0
  margin 0
  bottom 0px
  right 0px
  width 50px

div#watermark:hover
    opacity 1
